/**
 * @file
 * Provides CSS for the Commerce Payment Network module checkout.
 */

div.commerce-payment-network-info {
  display: inline;
  width: 68%;
  float: left;
}
div.commerce-payment-network-icons {
  display: inline;
  width: 28%;
  float: right;
}
div.commerce-payment-network-checkout-info {
  margin-top: 1em;
}
